.button {
  border: 1px solid #c1c1c1;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 6px;
  background-color: white;
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.2s ease-in, background-color 0.2s ease-in,
    border-color 0.2s ease-in;
  &:hover {
    background-color: #cfc9c9;
  }
  &-primary {
    color: white;
    background-color: #4486fb;
    border-color: transparent;
    &:hover {
      background-color: #0f51c4;
    }
    @media (max-width: 680) {
      padding: 10px 20px;
    }
  }
}
